<template>
    <div class="nav">
        <NuxtLink class="nav-item" to="/">Nowości</NuxtLink>
        <NuxtLink class="nav-item" to="/meskie">Męskie</NuxtLink>
        <NuxtLink class="nav-item" to="/damskie">Damskie</NuxtLink>
        <NuxtLink class="nav-item" to="/kontakt">Kontakt</NuxtLink>
    </div>
</template>

<script>
export default {
  name: 'Example'
}
</script>
<style scoped>

.nav {
    display: flex;
    flex-wrap: wrap;
    min-height: 30px;
    background-color: black;
    padding: 15px;
    border-bottom: 5px solid yellow;
    justify-content: center;
    box-shadow: 0px 5px 12px 0px #A2A2A2;
}

    .nav-item {
    display: flex;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}

.nav-logo-container {
    margin-inline: 0.3 0.5rem;
    height: 36px;
}
.nav-logo {
    height: 100%;
}
    .nuxt-link-exact-active, .nav-item:hover{
        background-color: #ffffff;
        color: #000;
    }
</style>