:root {
    --body-color: white;
    --main-color: black;
    --img-filter: invert(1);
    --neg-img-filter: none;
    --container-div-border-color: #555;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Schibsted Grotesk', sans-serif;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    background: var(--body-color);
    transition: background-color 0.5s ease-in-out;
}

h1:first-of-type {
    margin-block: 2rem;
    color: var(--main-color);
    text-align: center;
}

h2 {
    margin-left: 1.5rem;
    margin-block: 1rem;
    color: var(--main-color);
}


.container {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    gap: 1rem;
    overflow-x: auto;
    margin: 0 1rem 2rem 1rem;
    padding-bottom: 1rem;
}

.container::-webkit-scrollbar {
    width: 8px;
}

.container::-webkit-scrollbar-track {
    background: #ddd; 
}

.container::-webkit-scrollbar-thumb {
    background: #555; 
}

.container::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
}

.container__div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border: 3px solid var(--container-div-border-color);
    transition: 0.3s ease-in-out;
    color: var(--main-color);
}

.container__div img {
    max-width: 70%;
    max-height: 70%;
    filter: var(--neg-img-filter);
}

.container__div h3 {
    position: absolute;
    bottom: 1rem;
}

.contact-container {
    text-align: center;
}




.contact-info {
    margin-top: 3rem;
    margin-left: 1rem;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    line-height: 2;
    font-size: 2rem;
}

.container__div:hover {
    background: var(--main-color);
    color: var(--yellow);
}

.new-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 177px);
    background: url('../koszula.jpg') no-repeat;
    background-size: cover;
}

.new-container__label {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    padding-inline: 4rem 4rem;
    background: var(--body-color);
    text-align: right;
    font-size: 2rem;
    transition: background 0.5s ease-in-out;
}

.seeMoreBtn {
    width: max-content;
    padding: 1rem 2rem;
    margin-left: 1.5rem;
    font-size: 1rem;
    background: var(--main-color);
    color: var(--body-color);
    transition: 0.5s ease-in-out;
    border: none;
}