<template>
    <div>
        <TopNav/>
        <h1>Ubrania Damskie</h1>
      <div class="container">
        <div class="container__div">
          <img src="https://img.uxwing.com/wp-content/themes/uxwing/download/clothes-accessories/men-t-shirts-icon.svg" alt="koszulki">
          <h3>Koszulki</h3>
        </div>
        <div class="container__div">
          <img src="https://img.uxwing.com/wp-content/themes/uxwing/download/clothes-accessories/bra-icon.svg" alt="bielizna">
          <h3>Bielizna</h3>
        </div>
        <div class="container__div">
          <img src="https://img.uxwing.com/wp-content/themes/uxwing/download/clothes-accessories/skirts-icon.svg" alt="spodnice">
          <h3>Spódnice</h3>
        </div>
        <div class="container__div">
          <img src="https://img.uxwing.com/wp-content/themes/uxwing/download/beauty-fashion/flat-shoes-icon.svg" alt="buty">
          <h3>Buty</h3>
        </div>
        <div class="container__div">
          <img src="https://img.uxwing.com/wp-content/themes/uxwing/download/beauty-fashion/beauty-lipstick-icon.svg" alt="Akcesoria">
          <h3>Akcesoria</h3>
        </div>
      </div>
    </div>
</template>

<script>
import TopNav from '../components/navi/TopNav.vue';


export default {
    name: "FemaleComponent",
    components: { TopNav }
}
</script>
<style scoped>

</style>