<template>
  <div>
    <TopNav />
    <h1>Nowości</h1>
    <div class="new-container">
      <div class="new-container__label">
        <button class='seeMoreBtn' @click='showModal(true)'>Zobacz więcej</button>
      </div>
    </div>
    <Modal v-if="stateModal" @closeModal="showModal($event)" >
      <h3>Nowa kolekcja!</h3>
    </Modal>
  </div>



</template>

<script>
import TopNav from '../components/navi/TopNav.vue';
import Modal from '../components/modals/Modal.vue';

export default {
  name: "IndexPage",
  components: { TopNav, Modal },

  data() {
    return {
        stateModal: false
    }
  },

  methods: {
    showModal(state) {
      this.stateModal = state
    }
  }
}
</script>
<style scoped>
button {
  cursor: pointer;
}



</style>