<template>
    <div class="contact-container">
        <TopNav/>
        <h1>Kontakt</h1>
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9238.123991414646!2d18.552543699999998!3d54.51800020000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46ffdf401a8af2e7%3A0x62e7a4a0e30e01b7!2sGdynia%20G%C5%82%C3%B3wna!5e0!3m2!1sen!2s!4v1623793197172!5m2!1sen!2s" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <h3>Gdynia ul. Jana Sobieskiego 3</h3>
        <h3>Serdecznie zapraszamy :]</h3>
    </div>
</template>

<script>
import TopNav from '~/components/navi/TopNav.vue';

export default {
    name: "ContactComponent",
    components: { TopNav }
}

</script>
<style scoped>
</style>
