<template>
  <div>
      <TopNav/>
      <h1>Ubrania Męskie</h1>
    <div class="container">
      <div class="container__div">
        <img src="https://img.uxwing.com/wp-content/themes/uxwing/download/clothes-accessories/men-t-shirts-icon.svg" alt="koszulki">
        <h3>Koszulki</h3>
      </div>
      <div class="container__div">
        <img src="https://img.uxwing.com/wp-content/themes/uxwing/download/clothes-accessories/hoodie-jacket-icon.svg" alt="bluzy">
        <h3>Bluzy</h3>
      </div>
      <div class="container__div">
        <img src="https://img.uxwing.com/wp-content/themes/uxwing/download/clothes-accessories/jeans-pants-icon.svg" alt="spodnie">
        <h3>Spodnie</h3>
      </div>
      <div class="container__div">
        <img src="https://img.uxwing.com/wp-content/themes/uxwing/download/clothes-accessories/man-shoe-icon.svg" alt="buty">
        <h3>Buty</h3>
      </div>
      <div class="container__div">
        <img src="https://img.uxwing.com/wp-content/themes/uxwing/download/clothes-accessories/man-belt-icon.svg" alt="akcesoria">
        <h3>Akcesoria</h3>
      </div>
    </div>
  </div>
</template>

<script>
import TopNav from '../components/navi/TopNav.vue';


export default {
  name: "FemaleComponent",
  components: { TopNav }
}
</script>
<style scoped>

</style>