<template>
    <div class="modal">
        <div class="content">
            <button @click="closeModal">Zamknij</button>
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Modal',
  methods: {
    closeModal() {
        this.$emit('closeModal', false);
    }
  }
}
</script>
<style scoped>
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
}
.content {
    width: 600px;
    height: 400px;
    background-color: white;
    text-align: left;
}

.content h3 {
    padding-top: 9rem;
    text-align: center;
    font-size: 3rem;
}


button {
    cursor: pointer;
  background: black;
    color: white;
    border: none;
    padding: 0.2rem 0.8rem 0.5rem 0.8rem;
    font-size: 1rem;
}
</style>